*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0B0810;
    color: white;
}
header{
    width: 100%;
    height: 25vh;
    background: linear-gradient(
        #0B0810,
        #24103a
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid #6b3fa0;
}
header h1{
    font-family: Georgia, serif;
    font-size: 45px;
    color: #e8e5ec;
    text-shadow:
     0 0 10px #6b3fa0,
     0 0 20px #6b3fa0;
}   
header p{
    margin-top: 15px;
    color: #c49a4a;
    font-size: 18px;
}
nav{
    background-color: #000000;
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-bottom: 1px solid #6b3fa0;
}nav a{
    color: #e8e5ec;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
nav a:hover{
    color: #c49a4a;
    text-shadow: 0 0 10px #c49a4a;
}
main{
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(
        circle at top,
        #24103a,
        #11152f 45%,
        #ab0810
    );
    padding: 50px 8%;
}
main section{
    margin-bottom: 40px;
    padding: 50px 30px;
    min-height: 30vh;
    text-align: center;
    background-color: rgba(26, 18, 48, 0.9);
    border: 1px solid #6b3fa0;
    border-radius: 15px;
    box-shadow: 
    0 0 20px rgba(107, 63, 160, 0.3);
}
main section h2{
    font-family: Georgia, serif;
    font-size: 32px;
    color: #e8e5ec;
    margin-bottom: 20px;
}
main section p{
    line-height: 1.7;
    color: #d8d5dc;
}
.inicio{
    min-height: 45hv;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inicio h2{
    font-size: 40px;
}
.inicio p{
    max-width: 650px;
    margin-bottom: 25px;
}
button{
    background-color: #5a1020;
    color: white;
    border: 1px solid #c49a4a;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: #6b3fa0;
    box-shadow: 
    0 0 15px #6b3fa0;
    transform: scale(1.05);
}
.quartos{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.quarto{
    width: 280px;
    padding: 25px;
    background-color: #24103a;
    border: 1px solid #6b3fa0;
    border-radius: 12px;
    transition: 0.3s;   
}
quarto:hover{
    transform: translate(-8px);
    box-shadow: 
    0 0 20px rgba(107, 63, 160, 0.6);
}
.quarto h3{
    color: #c49a4a;
    margin-bottom: 15px;
}
.quarto p:last-child{
    color: #c49a4a;
    font-weight: bold;
    margin-top: 15px;
}
.atracoes{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.atracoes div{
    width: 280px;
    padding: 25px;
    background-color: #11152f;
    border-radius: 12px;
    border: 1px solid #5a1020;
}
.atracoes h3{
    color: #c49a4a
    margin-bottom: 15px;
}
footer{
    background-color: #08060b;
    text-align: center;
    padding: 40px 20px;
    border-top: 2px solid #6b3fa0;
}
footer h2{
    color: #c49a4a;
    margin-bottom: 20px;
}
footer p{
    margin: 8px;
    color: #d8d5dc;
}
.galeria{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.galeria img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid #6b3fa0;
    box-shadow: 
    0 0 15px rgba(107, 63, 160, 0.5);
    transition: 0.3s;
}
.galeria img:hover{
    transform: scale(1.05);
    box-shadow: 
    0 0 25px #6b3fa0;
}
